<html>

<head>
    <link rel="stylesheet" href="essentials.css">
</head>

<body>
    <div style="margin: 0 auto;max-width: 800px;font-family: 'Google Sans', 'Product Sans', 'Lato', 'Roboto', 'Helvetica', sans-serif;">
        <div style="background-color: #2d3436;padding: 16px;color: #ffffff;font-weight: bold;font-size: 1.25em;">
            <div style="display: inline-block;vertical-align: top;height: 40px;">
                <img src="logo-original.svg" style="height: 100%;">
            </div>
            <div class="title" style="display: inline-block;vertical-align: top;line-height: 40px;margin-left: 4px;">W.A.S.D - Email Service</div>
        </div>
        <div style="background: linear-gradient(90deg, #A29BFE 0%, #7FB8C4 100%);
        ;padding: 16px 16px 16px 60px;color: #ffffff;font-size: 1.25em;">
            <div>Formulário de Contato</div>
        </div>

        <div style=" background-color:#fff; padding: 32px;">

            <h2 style="margin: 16px 0">Informações do Remetente </h2>

            <div style="background-color: #fff; width:100%; height: auto;
                margin: 40px auto 25px;
                display: inline-block !important;
                flex-direction: row !important;
                flex-wrap: wrap;">

                <div style="
                    cursor: context-menu;
                    position: relative;
                    margin: 10px;
                    background-color:  #fff;
                    margin-top: 10px;
                    color:#212121;
                    margin-bottom: 0px;
                    display: inline-block;
                    height: 100px;
                    text-align: center;
                    width: 300px;
                    box-sizing: border-box;">
                    <div style="
                    width: 100%;
                    background-color: #2d3436;
                    color: #fff;
                    font-size: 16px;
                    height: auto;  
                    ">
                        <h3>Assunto:</h3>
                    </div>
                    <p style="font-size: 16px">{{subject}}
                        <p>
                </div>


                <div style="
                    cursor: context-menu;
                    position: relative;
                    margin: 10px;
                    background-color:  #fff;
                    margin-top: 10px;
                    color:#212121;
                    margin-bottom: 0px;
                    display: inline-block;
                    height: 100px;
                    text-align: center;
                    width: 300px;
                    box-sizing: border-box;">
                    <div style="
                    width: 100%;
                    background-color: #2d3436;
                    color: #fff;
                    font-size: 16px;
                    height: auto;  
                    ">
                        <h3>Contato:</h3>
                    </div>
                    <p style="font-size: 16px">{{userEmail}}
                        <p>
                </div>
            </div>

            <h1 style="margin: 16px 0">Mensagem</h1>
            <p>{{message}}</p>
            <br>


        </div>
    </div>
</body>

</html>
</div>
</div>
</body>

</html>